{
    email developer.appnium@gmail.com
}

portainer.cylia.cloud {
    reverse_proxy {
        to https://portainer:9443

        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

mageai.cylia.cloud {
    reverse_proxy mage-ai:6789
}

mongodb.cylia.cloud {
    reverse_proxy cylia-mongodb:27017
}

scrapyd.cylia.cloud {
    reverse_proxy scrapyd:6800
}
