{
    email developer.appnium@gmail.com
}

portainer.cylia.io {
    reverse_proxy {
        to https://portainer:9443

        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

mageai.cylia.io {
    reverse_proxy mage-ai:6789
}

mongodb.cylia.io {
    reverse_proxy cylia-mongodb:27017
}

postgresql.cylia.io {
    reverse_proxy cylia-mongodb:27017
}

scrapyd.cylia.io {
    reverse_proxy scrapyd:6800
}

netdata.cylia.io {
    reverse_proxy netdata:19999
}
